<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        {% if current_user.fname[-1] == 's'  %}
            <h1>{{ current_user.fname }}' Project</h1>
        {% else %}
            <h1>{{ current_user.fname }}'s Project</h1>
        {% endif %}

        <br>

        <h3>What is a project?</h3>
        <b>A Project is an effort to make something that will take several steps over several days.</b> <br>
<br>
        <h3>How will my project be graded?</h3>
        Your project grade will have two equal components.
        <ol>
            <li>Evidence of work: You will record (images, video, audio, pictures, documents, etc) evidence of your work every day.</li>
            <li>Intention/Reflection: Every day you will record: </li>
            <ul>
                <li>The work you want to get done that day.</li>
                <li>Evidence of the work that you got done.</li>
                <li>Refection on your work as well as your thoughts about any differences between what you got done and what you intended to do.</li>
            </ul>
        </ol>
<br>
        <H3>What are Milestones?</H3>
        Milestone are major accomplishments along the way to completing your project. <br>
        A project should have several milestones. A small project might only have two or three total milestones. We will create only one milestone at a time. 
        When you complete a milestone you will create another one until the last milestone which is the project completion. <br>
<br>
        <h3>Daily Work</h3>
        <ul>
            <li><b>Intention:</b> 
                Every day that you work on this project you will begin by recording your intention which is simply answer the questions: What are you going to do today? 
            </li>
            <li>
                <b>Evidence:</b> 
                Record evidence of what you did with a picture or audio or video or text or a document or what ever you believe will show evidence of your work.
            </li>
            <li><b>Reflection:</b> 
                Provide a short reflection on your work (are you happy with it, frrustrared at your progress, annoyed at yourself, proud of yourself...) as well as 
                reflect on any differences between what you did and what you intended to do. </li>
        </ul>
        <br>
        <h3>Ok, let's create your project!</h3>
        <br>
        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}

            <h3>What do you want to make and why?</h3> 
            Describe in detail what you want to make. Include why you want to make it or how you want to use it. It should be clear to the reader what you intend to make. Use the image icon to add images from the Internet.
            {{ form.product(class='tmce-editor') }}</b>  <br>
            
            <h3>Give it a name.</h3>
            What do you want to call this project? It should be a descriptive name so any reader can know what you are trying to make even if the title is all they can see. <br>
            {{ form.name(class='form-control') }} <br>

            <H3>Status</H3>
            The initial status is always "In Progress" <br>
            {{ form.status(class='form-control') }}

            {{ form.submit(class='form-control btn-primary') }}
        </form>

        {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: 'textarea.tmce-editor',
                plugins:'advlist autolink lists link image charmap print preview hr anchor pagebreak searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor colorpicker textpattern imagetools',
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons',
                image_advtab: true
            });
          </script>
        {% endblock %}
        
{% endblock %}
