<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        {% if current_user.email[-1] == 's'  %}
            <h1>{{ current_user.fname }}' Project Post</h1>
        {% else %}
            <h1>{{ current_user.fname }}'s Project Post</h1>
        {% endif %}

        <br>

        <h3>What is a project post?</h3>
        <b>
            A Project post happens TWICE a day. Each day that you work on your project you start with 
        </b> 
            <ol>
                <li>
                    an <b>intention</b> post where you Describe
                    what you intend to do and <b>rate your confidence</b>b> in you ability to complete what you intend.  
                </li>
                <li>
                    Then, when you are done working, 
                    you describe what you did and evaluate what you accomplished vs what you intended.
                </li>
            </ol>

        <!--List all errors in a group at the top-->
        {% if form.errors %}
        <p class="text-danger"> Check fields below for errors.</p>
        {% endif %}

        <form method=post>
            {{ form.hidden_tag() }}

            <h3>Which Milestone are you working on</h3>
            {{ form.milestone(class='form-control') }} 
            <p class="text-danger">
                {% for error in form.milestone.errors %}
                    {{error}}
                {% endfor %}
            </p> 

            <h3>Type of post</h3> 
            {{ form.post_type(class='form-control', id='postType', onchange="int_ref()") }}
            <p class="text-danger">
                {% for error in form.post_type.errors %}
                    {{error}}
                {% endfor %}
            </p> 

            <div class="intention">
                <h3>What do you intend to do today?</h3>
                {{ form.intention(class='tmce-editor') }}</b>  
                <p class="text-danger">
                    {% for error in form.intention.errors %}
                        {{error}}
                    {% endfor %}
                </p> 

                <h3>How confident are you that you will complete your goal?</h3>
                {{ form.confidence(class='form-control') }}</b>  
                <p class="text-danger">
                    {% for error in form.confidence.errors %}
                        {{error}}
                    {% endfor %}
                </p> 
            </div>
            <div class="reflection">
                <h3>Are you satisfied with your work today?</h3>
                {{ form.satisfaction(class='form-control') }}</b>              
                <p class="text-danger">
                    {% for error in form.satisfaction.errors %}
                        {{error}}
                    {% endfor %}
                </p> 

                <h3>What did you complete?</h3>
                {{ form.reflection(class='tmce-editor') }}</b>  
                <p class="text-danger">
                    {% for error in form.reflection.errors %}
                        {{error}}
                    {% endfor %}
                </p> 

                <h3>Want to include an image?</h3>
                this doesn't work yet... <br>
                {{ form.image_reflection(class='tmce-editor') }}</b>  
                <p class="text-danger">
                    {% for error in form.image_reflection.errors %}
                        {{error}}
                    {% endfor %}
                </p> 
            </div>


            {{ form.submit(class='form-control btn-primary') }}
        </form>

        {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: 'textarea.tmce-editor',
                plugins:'advlist autolink lists link image charmap print preview hr anchor pagebreak searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor colorpicker textpattern imagetools',
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons',
                image_advtab: true
            });
        </script>

        <script type="text/javascript">
            var postTypeValue = document.getElementById("postType").value;

            if (postTypeValue.length > 1) {
                if (postTypeValue == 'Reflection') {
                    $('.intention').hide();
                    $('.reflection').show(); 
                } else if (postTypeValue == 'Intention') {
                    $('.intention').show();
                    $('.reflection').hide();       
                }
            } else {
                $('.intention').hide();
                $('.reflection').hide();
            }

            function int_ref() {

                var postTypeValue = document.getElementById("postType").value;
                console.log(postTypeValue)
                if (postTypeValue == 'Reflection') {
                    $('.intention').hide();
                    $('.reflection').show(); 
                } else if (postTypeValue == 'Intention') {
                    $('.intention').show();
                    $('.reflection').hide();       
                }
            };
        </script>

        {% endblock %}
        
{% endblock %}
