<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

{% if current_user.isadmin or current_user == proj.owner %}
    <a href="/project/edit/{{proj.id}}"><img width='40' src="/static/edit.png"></a> 
    <a href="/project/delete/{{proj.id}}"><img width='40' src="/static/delete.png"></a> <br>
{% endif %}

{% if current_user.fname[-1] == 's'  %}
    <h1>{{ proj.owner.fname }}' Project</h1>
{% else %}
    <h1>{{ proj.owner.fname }}'s Project</h1>
{% endif %}

<h4>{{proj.name}}</h4>

<b>Created:</b> {{moment(proj.createDateTime).calendar()}} <br>
<b>Owner:</b> {{proj.owner.fname}} {{proj.owner.lname}} <br>
<b>Status:</b> {{proj.status}} <br>
<b>Product:</b> <br> {{proj.product|safe}} <br>

{% if proj.milestones|length != 0 and not edit %}
    <h3>Milestones</h3>
    {% for m in proj.milestones %}
        <a href="/project/milestone/edit/{{proj.id}}/{{m.oid}}"><img width='20' src="/static/edit.png"></a>
        <a href="/project/milestone/delete/{{proj.id}}/{{m.oid}}"><img width='20' src="/static/delete.png"></a>
        <br>
        <h4>#{{m.number}}: {{m.name}}</h4>
        <b>Status:</b> {{m.status}} <br>
        <b>Description:</b> <br> {{m.desc|safe}} <br>
        {% if m.reflection %}
            <b>Description:</b> <br>
            {{m.reflection|safe}} <br>
        {% endif %}
        <hr>
    {% endfor %}
{% endif %}

<H3>What are Milestones?</H3>
Milestones are major accomplishments along the way to completing your project.
A project should have several milestones. A small project might only have two or three total milestones. We will create only one milestone at a time. 
When you complete a milestone you will create another one until the last milestone which is the project completion. <br> <br>

{% if proj.milestones|length == 0 %}
    No Milestones yet. <br>
{% endif %}

{% if proj.owner == current_user %}
{% if proj.milestones|length == 0 or proj.milestones[-1].status == 'Done' or edit %}
    {% if edit %}
        <h3>Edit Milestone </h3>
    {% else %}
        <h3>New Milestone</h3>
    {% endif %}

    <form method=post>
        {{ form.hidden_tag() }}
        Describe what work you will have done when this milestone is complete. Include images or links to any resources (online tutorials, tools, similar project milestones) if you have them.: <br>
        {{ form.desc(class='tmce-editor') }} <br>
        <h3>Name:</h3>
        Give it a descriptive name. Not "Milestone 1" but "Getting started" or "Design the final product" or "Practice" or "Finish the tutorial"
        {{ form.name(class='form-control') }} <br>
        <h3>Status:</h3>
        The initial status will always be "In Progress" <br>
        {{ form.status(class="form-control") }} <br>
        {{ form.submit(class="form-control btn-primary") }}
    </form> 
{% endif %}
{% endif %}

{% endblock %}