<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


{{entries|length}} <br> <br>

<form method=post>
    {{ form.hidden_tag() }}
    {{ form.ta(class="form-control", autofocus="autofocus") }}
    {{ form.submit() }}
</form>

<div class="row">
    <div class="col">
        {% for e in entries %}

            {{ e.expert_narrative }} {{ e.adults_expert }} <br> <br>
        
        {% endfor %}
    </div>
    <div class="col">
        {% for e in entries2 %}

            {{ e.expert_narrative }}  <a href="/survey/expert/{{e.id}}">{{ e.adults_expert }}</a> <br> <br>
        
        {% endfor %}
    </div>
</div>



<hr> <hr>



{% endblock %}