<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Students by intersectionality and the teachers that talk to them about race</h1>
<h3>Which adults have made the most sense to you when discussing race/ racism, gender, sexuality, other identities?  What did they say or do that was impactful?</h3>
<div class="row">
    <div class="col-3">
        
            {% for id in ids %}
                <b>{{id[0]}}: <a href="/survey/raceqbyids/{{id[1]}}">{{id[1]}}</a></b> <br>
            {% endfor %}
        
    </div>
    <div class="col">
        {% for id in idsDict %}
            <b>{{id}}</b> {{idsDict[id]}}<br> <br>
        {% endfor %}
    </div>
</div>




{% endblock %}