<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h3>Safety</h3>
<a href="/survey/safety/int/adult">Safety by intersectionality</a> <br>
<a href="/survey/safety/adult/int">Safety by adults</a> <br>
<h3>Race</h3>
<a href="/survey/race/int/adult">Race by intersectionality</a> <br>
<a href="/survey/race/adult/int">Race by adults</a> <br>
<h3>Expert</h3>
<a href="/survey/expert/adult/int">Expert adults</a> <br>

{% endblock %}