<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="img-thumbnail" width = "100" src="/static/lion.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
        {% else %}
        
          {% if current_user.has_role("teacher") %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Staff Tools
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link" href="/survey">Survey</a>
              <a class="nav-link" href="/allstudents">All Students</a>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tools
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link" href="/wordcloud">Word Cloud</a>
              <a class="nav-link" href="/qr">QR Code Maker</a>
              <a class="nav-link" href="/spotify">CCPA Playlist</a>
              <a class="nav-link" href="/alumnimap">Alumni Map</a>
              <a class="nav-link" href="/college/map">Another Alumni Map</a>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link" href="/project/definition">What is a Project?</a>
              <a class="nav-link" href="/project/new">New Project</a>
              <a class="nav-link" href="/project/my">My Project</a>
              <a class="nav-link" href="/project/list">All Projects</a>
            </ul>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="/activecourses">Courses</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/teacher/list">Teachers</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if not current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              {{ current_user.gname }} 
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>