
{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>QR Code Maker</h1>

    
    {% if img_data %}
        <img id="picture" src="data:image/png;base64,{{ img_data }}"> <br>
    {% endif %}



    <form method=post>
        {{ form.hidden_tag() }}
        
        QR Text: {{ form.QRText(size=64) }} <br>

        {% for error in form.QRText.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        QR Size: {{ form.size() }} <br>
        
        {% for error in form.size.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.submit() }}

    </form>

</div>
{% endblock %}