{% extends 'base.html' %}

{% block body %}

<div class="row mx-2">

<h3>Rules</h3>
<ol class="mx-4">
    <li>You can only add two songs that only you have voted for.</li>
    <li>You can have up to five songs that at least one person other than you has voted for.</li>
    <li>You have to have a Spotify account to play.</li>
</ol>
    
    <div class="col">
        <h1>CCPA Playlist</h1>
        <a href="/updateplaylist">Add playlist to my spotify</a> <br>
            {% for track in playlist %}
            <div class="row ms-4">
                <div class="col-3">
                    <img height="120" src="{{track.track_dict['album']['images'][0]['url']}}">
                </div>
                <div class="col">
                    <b>Track:</b>     
                    <a href="{{track.track_dict['album']['external_urls']['spotify']}}" target="_blank">
                        {{track.track_dict['name']}}
                    </a>
                    <br>
                        {% for artist in track.track_dict['album']['artists'] %}
                            <b>Artist:</b> 
                            <a href="{{artist['external_urls']['spotify']}}" target="_blank">
                                {{artist['name']}} <br>
                            </a>
                        {% endfor %}

                        {% if not current_user in track.users %}
                            <a href="/addselftotrack/{{track.id}}">/addselftotrack/{{track['id']}}
                                <img width="20" src="/static/new.png">
                            </a>     
                        {% endif %}

                        <b>Users: </b>
                        {% if current_user in track['users'] %}
                            <a href="/unvotetrack/{{track.track_dict['id']}}"><img width="20" src="/static/delete.png"></a>
                        {% endif %}
                        ({{track.num_users}}) 
                        {% for user in track.users %}
                            {{user.fname}} {{user.lname}} <br>
                        {% endfor %}
                        </audio>     
                        <audio controls>
                            <source src="{{track.track_dict['preview_url']}}" type="audio/mpeg">
                        </audio>     
                </div>
            </div>
                    <br>
            {% endfor %}
    </div>
    <div class="col border border-2">
        <form method=post>
            {{ form.hidden_tag() }}
            
            Search Spotify: <br> {{ form.track() }} <br>
            {% if form.track.errors %}
                {% for error in form.track.errors %}
                    <span style="color: red;">[{{ error }}]</span> <br>
                {% endfor %}
            {% endif %}
        
            {{form.submit()}}
        </form>
        <hr>
        {% if track_info and track_info['tracks'] %}
            {% for album in track_info['tracks']['items'] %}
            {% if album['explicit'] == False%}
            <div class="row">
                <div class="col-3">
                    <img height="120" src="{{album['album']['images'][0]['url']}}">
                </div>
                <div class="col">
                    <a href="/addtoplaylist/{{album['id']}}">
                        <img width="20" src="/static/new.png">
                    </a> 
                    <br>
                    {% for artist in album['artists'] %}
                        <b>Artist: </b>
                        <a href="{{artist['external_urls']['spotify']}}" target="_blank">
                            {{artist['name']}} <br>
                        </a>
                    {% endfor %}
                    <b>Album: </b>
                    <a href="{{album['album']['external_urls']['spotify']}}" target="_blank">
                        {{album['album']['name']}} <br>
                    </a>
                        <b>Track: </b>
                    <a href="{{album['external_urls']['spotify']}}" target="_blank">
                        {{album['name']}} <br>
                    </a>                
                    <audio controls>
                        <source src="{{album['preview_url']}}" type="audio/mpeg">
                    </audio> 

                </div>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        </div>
</div>




{% endblock %}